<h1>Edit tadpole: <%= @tadpole.name %></h1>
<%= form_for(@tadpole) do |f| %>
  Name: <%= f.text_field 'name' %><br />
  Color: <%= f.text_field 'color' %><br />
  Lives: <%= f.select :frog_id, @ponds.collect{|pond| [pond.name, pond.id]} %>
  <%= f.submit 'update tadpole'%>
<% end %>
<br>
<%= link_to 'Cancel', tadpoles_path %>