<h1>Create a new tadpole for <%= @frog.name %>:</h1>
<%= form_for Tadpole.new do |f| %>
  Name: <%= f.text_field :name %><br />
  Color: <%= f.text_field :color %><br />
  <%= f.hidden_field(:frog_id, :value => @frog.id) %>
  <%= f.submit 'create tadpole'%>
<% end %>
<%= link_to 'Cancel', tadpoles_path %>