<%= link_to 'Back', tadpoles_path %>

<h1><%= @tadpole.name %> Tadpole</h1>
<p>Color: <%= @tadpole.color %></p>
<p>Lives: <%= link_to @tadpole.frog.pond.name, @tadpole.frog.pond %></p>
<p>Parent: <%= link_to @tadpole.frog.name, frog_path(@tadpole.frog) %></p>
<p><strong><a href="/tadpoles/<%= @tadpole.id %>/evolve">Evolve <%= @tadpole.name %> into a frog</a></strong></p>
<%= link_to 'Back', tadpoles_path %> | 
<%= link_to 'Edit', edit_tadpole_path %> | 
<%= link_to 'Delete', tadpole_path, :confirm => 'Are you sure you want to delete this tadpole?', :method => :delete %>