<h1>Edit frog: <%= @frog.name %></h1>
<%= form_for(@frog) do |f| %>
  Name: <%= f.text_field 'name' %><br />
  Color: <%= f.text_field 'color' %><br />
  Lives: <%= f.select :pond_id, @ponds.collect{|pond| [pond.name, pond.id]} %>
  <%= f.submit 'update frog'%>
<% end %>
<br>
<%= link_to 'Return to all Frogs', frogs_path %>