<h1>Create New Frog:</h1>
<%= form_for(@frog) do |f| %>
  Name: <%= f.text_field :name %><br />
  Color: <%= f.text_field :color %><br />
  Lives: <%= f.select :pond_id, @ponds.collect{|pond| [pond.name, pond.id]} %> 
  <%= f.submit 'create frog'%>
<% end %>