<%= link_to 'Back', frogs_path %>

<h1><%= @frog.name %> Frog</h1>
<h3>Flies eaten today: <span id="flycountspan" data-frogid="<%= @frog.id%>"><%= @frog.fly_count %></span></h3>
<input type="button" onclick="giveFly()" value="Give <%=@frog.name%> a fly!">
<p>Color: <%= @frog.color %></p>
<p>Lives: <%= link_to @frog.pond.name, @frog.pond %></p>
<% unless @frog.tadpoles.empty? %>
<%= @frog.name %>'s tadpoles:
<ol>
  <% @frog.tadpoles.each do |tadpole| %>
  <li><%= link_to tadpole.name, tadpole %></li>
  <% end %>
</ol>
<% end %>
<p><strong><%= link_to("Create new tadpole baby", "#{new_tadpole_path}?frog_id=#{@frog.id}") %></strong></p>

<%= link_to 'Back', frogs_path %> | 
<%= link_to 'Edit', edit_frog_path %> | 
<%= link_to 'Delete', frog_path, :confirm => 'Are you sure you want to delete this frog?', :method => :delete %>